body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1, h2 {
    color: #343a40;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: rgba(192, 192, 250, 0.808);
    margin-bottom: 20px;
    border-radius: 5%;
    width: 250px;
}

.card img {
    /* max-width: 100px;
    max-height: 100px; */
}
